* {
    color: rgb(68, 21, 53);
}

h1 {
    padding: 30px;
    font-size: 90px;
    background-color: #ffffff;
    opacity: 0.9;
}
ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    
}
