* {
    margin: 0;

}

#head {
    background-color: #ffffff;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    margin: 20px;
}

a {
    text-decoration: none;
    color: rgb(26, 87, 70);
}

#logo {
    float: left;

}

li {
    list-style-type: none;
}

#login {
    float: right;
    margin: 40px 20px 0px 0px;
}

li {
    display: inline;
}

#menu {
    clear: both;
    background-color: rgb(250, 246, 207);
    height: 20px;
}

ul {
    text-align: center;
    padding: 10px;
}

.item {
    padding: 0px 60px;
}

.item a:hover {
    border-bottom: 2px solid rgb(247, 163, 163);
    color: rgb(190, 185, 185);
}